<html>
  <head>
    <title>Tumblr Tower</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/myStyles.css">
    <script src="javascripts/game.js"></script>
  </head>
  <body>
    <h1> Tumblr Tower</h1>
    <canvas id='canvas'></canvas>
  </body>
</html>
